.App {
  text-align: center;
}

.app__heading {
  color: cadetblue;
}

.app__heading2 {
  color: cadetblue;
}

.app__btn {
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
  outline: none;
}

.app__del {
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
  outline: none;
}

.app__input {
  height: 25px;
  width: 30%;
  border-radius: 10px;
  outline: none;
}
